body{
    height: 100vh;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    width: 100px;
    height: 40px;
    appearance: none;
    background-color: rgb(206, 179, 179);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, .2);
    position: relative;
    
}

.checkbox:checked{
    background-color: rgb(74, 74, 159);
}

.checkbox::before{
    content: '';
    width: 36px;
    height: 36px;
    display: block;
    margin: 0 2px;
    position: absolute;
    top: 1.5px;
    left: 0;
    background-color: black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: .2s ease;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.checkbox:checked::before{
   left: 55px;

}